<launch>
  <include file="$(find barrett_wam_moveit_config)/launch/planning_context.launch">
    <arg name="load_robot_description" value="true"/>
  </include>

  <node name="hil_servoing"
        pkg="hil_servoing"
        type="hil_servoing"
        respawn="false" output="screen">
    <rosparam command="load"
              file="$(find barrett_wam_moveit_config)/config/kinematics.yaml"/>
    </node>
    <!-- joy node -->
    <node respawn="true" pkg="joy"
        type="joy_node" name="joy_node" >
    <param name="deadzone" value="0.12" />
    <param name="autorepeat_rate" value="30.0"/>

  </node>

</launch>
